@font-face {
    font-family: "Brutal Type";
    src: url('/docs/font/');
  }

body {
    /* COLOR */
    --primary-text-color: #1E1E1E;
    --secondary-text-color: #FFFFFF;
    --highlight-color: #FE0170;
    --secundairy-highlight-color: #0091FF;
    --primary-bg-color: #011564;
    --secondary-bg-color: #FFFFFF;
    --tertiary-bg-color: #EFEFEF;

    /* FONTS */
    --font-family: 'Brutal Type', sans-serif;

    --titel-size-l: 58px;
    --titel-size-m: 30px;
    --titel-size-s: 16px;

    --text-size-m: 20px;
    --text-size-s: 16px;
    --text-button: 16px;

    --font-weight-s: 400;
    --font-weight-m: 700;
    --font-weight-l: 900;

    --font-center: center;
    --font-left: left;

    /* PADDING */
    --padding-s: 8px;
    --padding-m: 22px;
    --padding-l: 32px;

    /* MARGIN */
    --margin-size-s: 8px;
    --margin-size-m: 22px;
    --margin-size-l: 32px;

    /* GAP */
    --gap-s: 8px;

    /* BORDER-RADIUS */
    --border-radius-s: 8px;
    --border-radius-m: 16px;
    --border-radius-l: 32px;

    /* CLICK */
    --pointer: pointer;

    /* SIZE */
    --width: 100vw;
    --height: 100vh;

    font-family: var(--font-family);
}

nav {
    display: flex;
    flex-direction: row;
}

.overview-radiostations {
    display: flex;
    flex-direction: row;
}

.overview-programma {
    display: flex;
    flex-direction: column;
}

dl {
    display: flex;
    flex-direction: row;
}