@font-face {
    font-family: "Brutal Type";
    src: url('/docs/font/');
  }

body {
    /* COLOR */
    --primary-text-color: #1E1E1E;
    --secondary-text-color: #FFFFFF;
    --highlight-color: #FE0170;
    --secundairy-highlight-color: #0091FF;
    --primary-bg-color: #011564;
    --secondary-bg-color: #FFFFFF;
    --tertiary-bg-color: #EFEFEF;

    /* FONTS */
    --font-family: 'Brutal Type', sans-serif;

    --titel-size-l: 58px;
    --titel-size-m: 30px;
    --titel-size-s: 16px;

    --text-size-m: 20px;
    --text-size-s: 16px;
    --text-button: 16px;

    --font-weight-s: 400;
    --font-weight-m: 700;
    --font-weight-l: 900;

    --font-center: center;
    --font-left: left;

    /* PADDING */
    --padding-s: 8px;
    --padding-m: 22px;
    --padding-l: 32px;

    /* MARGIN */
    --margin-size-s: 8px;
    --margin-size-m: 22px;
    --margin-size-l: 32px;

    /* GAP */
    --gap-s: 8px;

    /* BORDER-RADIUS */
    --border-radius-s: 8px;
    --border-radius-m: 16px;
    --border-radius-l: 32px;

    /* CLICK */
    --pointer: pointer;

    /* SIZE */
    --width: 100vw;
    --height: 100vh;

    font-family: var(--font-family);
    margin: 0;
    background-color: var(--tertiary-bg-color);
}

header {
    position: relative;
   background-image: url(/placeholder-header.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   
}

.album {
    position: absolute;
    left: 1.5rem;
    bottom: -30%;
    width: 7rem;
    border-radius: var(--border-radius-s);
}

nav {
    position: fixed;
    padding: var(--padding-s);
    bottom: 0;
    height: 5rem;
    background-color: var(--highlight-color);
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
    width: var(--width);
    overflow: auto;
    left: 0;
    right: 0;
    justify-content: flex-start;
}

.filter-date {
    font-size: var(--text-size-s);
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    width: 4rem;
    height: 3.4rem;
    border-radius: var(--border-radius-s);
    flex-shrink: 0;
    display: grid;
    place-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-decoration: none;
    font-weight: var(--font-weight-l);
}

.overview-radiostations {
    display: flex;
    flex-direction: row;
}

.overview-programma {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 0.5rem;
    margin: 2rem;
}

.show {
    background-color: var( --secondary-bg-color);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-m);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.397);
    padding: var(--padding-m);
}

dl {
    display: grid;
    grid-template-columns: 1rem auto;
    gap: 0.5rem;
}

dt {
    grid-column: 1;
}

dd {
    display: block;
    margin-left: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.like-btn, .more-btn {
    background-color: var(--highlight-color);
    color: var(--secondary-text-color);
    border: none;
}

button {
    cursor: pointer;
}